.game {
  display: flex;
  justify-content: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 17px;
  font-weight: bold;
}

.board-row {
  display: flex;
}